{% extends "LimeCalendarBundle::layout.html.twig" %}

{% block lime_calendar_content %}
<form method="post">
{{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock lime_calendar_content %}